.addSingleColumn {
  display: flex;
  justify-content: center;

  .columnForm {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .columnFormInput {
      width: 80%;
      text-align: center;
      border: none;
      border-bottom: 1px solid gray;
    }

    button {
      width: 15%;
      color: blue;
      background-color: transparent;
      border: none;
    }

  }
}